.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 48px;
    margin: 0;
  }
  
  .hero p {
    font-size: 20px;
    color: gray;
  }
  