.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  .links > * {
    margin-left: 24px;
    cursor: pointer;
  }
  